<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.envision_lightning.big_o">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/button"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".arrays"
            android:label="@string/array"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.arrays" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".avl"
            android:label="@string/avl"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.avl" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".bst"
            android:label="@string/bst"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.bst" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".btree"
            android:label="@string/btree"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.btree" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".hashtable"
            android:label="@string/hashtable"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="ccom.envision_lightning.big_o.hashtable" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".linkedlist"
            android:label="@string/linkedlist"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.linkedlist" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".rbt"
            android:label="@string/rbt"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.rbt" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".stack"
            android:label="@string/stack"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.stack" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".queue"
            android:label="@string/queue"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.queue" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".bucket_sort"
            android:label="@string/bucketsort"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.bucket_sort" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".bubble_sort"
            android:label="@string/bubblesort"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.bubble_sort" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".insertion_sort"
            android:label="@string/insertionsort"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.insertion_sort" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".selection_sort"
            android:label="@string/selectionsort"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.selection_sort" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".heap_sort"
            android:label="@string/heapsort"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.heap_sort" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
        android:name=".merge_sort"
        android:label="@string/mergesort"
        android:parentActivityName=".MainMenu"
        android:screenOrientation="portrait">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainMenu" />
        <intent-filter>
            <action android:name="com.envision_lightning.big_o.merge_sort" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

        <activity
            android:name=".quick_sort"
            android:label="@string/quicksort"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.quick_sort" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".radix_sort"
            android:label="@string/radixsort"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.radix_sort" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".counting_sort"
            android:label="@string/countingsort"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
            <intent-filter>
                <action android:name="com.envision_lightning.big_o.counting_sort" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".about"
            android:label="About"
            android:theme="@style/AppTheme.CustomTheme">
        </activity>


    </application>

</manifest>